<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Markdown Previewer</title>
    <!-- Load Style Sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        /* Heading H1 */

        h1 {
            font-family: "Roboto", Arial, Verdana, sans-serif;
            text-align: center;
        }

        /* Editor */

        p {
            font-family: "Roboto", Arial, Verdana, sans-serif;
        }

        #editor {
            font-family: "Consolas", monospace;
            font-size: 10px;
        }


        /* Previewer */

        #preview {
            font-family: "Roboto", Arial, Verdana, sans-serif;
        }
    </style>
    <!-- Load Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

</head>

<body>

    <!-- Set Up Section -->
    <article class="container-fluid" id="my-markdown"></article>
    <!-- Set Up Editor -->
    <script type="text/babel">
        class MyMarkdownPreviewer extends React.Component { 
            constructor(props) { 
                super(props); 
                const myH1 = "# Welcome to my project.\n\n"; 
                const myPurpose = "The purpose of this project...\n\n";
                const myH2 = "## Sub Header\n\n"; 
                const myLink = "[British Computer Society](https://www.bcs.org)\n"; 
                const myInlineCode = "Here is some code `<i class&quot;fa fa-music&quot; aria-hidden=&quot;true&quot;></i>`.\nTo get the music icon using Font Awesome 4.7.0.\n";
                const myMultiCode = "``` &lt;style&gt; p {font-family: &quot;Roboto&quot;, Arial, Verdana, sans-serif&semi;color: green&semi;}&lt;/style&gt;```\n\n";
                const myCelebs = "Favourite Celebrities\n\n"; 
                const myListItems = "* Anna Richardson\n* Kate Garraway\n* Ruth Langsford\n* Susanna Reid\n\n";
                const myLinkedListItems = "List Items can contain links:\n\n[The National League](https://www.thenationalleague.org.uk)\n* [Cambridge Python User Group](https://www.meetup.com/CamPUG)\n"; const myBold = "You can make text **bold** using two asterisks\n";
                const myBlockQuotes = "There are blockquotes > The purpose the BCS is to promote and advance the education and practice of computing for the benefit of the public.\n"; const myImageLink = "![Google Logo](http://www.google.com/images/errors/logo_sm.gif)";
                this.state = { userInput: myH1 + myPurpose + myH2 + myLink + myInlineCode + myMultiCode + myCelebs + myListItems + myLinkedListItems + myBold + myBlockQuotes + myImageLink};
                this.handleChange = this.handleChange.bind(this); } 
            handleChange(event) {
             this.setState({userInput: event.target.value}); 
            } 
            render() { let mypreview = marked(this.state.userInput); return (
        <div>

            <textarea className="form-control" id="editor" onChange={this.handleChange}>{this.state.userInput}</textarea>
        </div>

        <article id="preview">{mypreview}</article>
        ); } } ReactDOM.render(
        <MyMarkDownPreviewer/>, document.getElementById("my-markdown"));


    </script>
</body>

</html>
